.create_product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.upload{
    /* max-width: 450px; */
    height: 500px;
    border: 1px solid #ddd;
    padding: 15px;
    width: 30%;
    margin: 20px;
    position: relative
}
@media (max-width: 890px) {
    .upload{
        width:50%;
    } 
}
@media (max-width: 890px) {
    .upload{
        width:50%;
        height: 400px;
    } 
    #file_up::before{
        top: -50px !important;
    }
}
@media (max-width: 520px) {
    .upload{
        width:50%;
        height: 320px;
    } 
    #file_up::before{
        top: -80px !important;
    }
}
@media (max-width: 440px) {
    .upload{
        width:50%;
        height: 320px;
    } 
    #file_up::before{
        top: -80px !important;
        left: -20px !important;
    }
}
#file_up{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
}
#file_up::before{
    content: '+';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:white;
    color: rgb(250,200,107);
    font-size: 17rem;
    text-align: center;
    cursor: pointer;
    margin: auto;
    border-bottom: 1px solid #ffffff;
}
#file_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:white;
}
#file_img img{
    width: 100%;
    height: 70%;
    display: block;
    object-fit: cover;
    margin-top: 70px;
}
#file_img span{
    position: absolute;
    top: -13px;
    right: -13px;
    background:white;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: 900;
    color: #ee4d2d;
}
.create_product form{
    max-width: 500px;
    min-width: 290px;
    width: 100%;
    margin:15px 30px ;
}
.create_product form .row{
    width: 100%;
    margin: 15px 0;
}
.create_product form input, textarea{
    width: 100%;
    min-width: 40px;
    padding: 0 5px;
    margin-top: 5px;
    border-radius: 4px;
}
.create_product form button{
    width: 200px;
    height: 40px;
    background: #ee4d2d;
    color: white;
    text-transform: capitalize; 
    font-weight: 700;
}
.row select{
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
}