.login-page{
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 14%);
    border-radius: .25rem;
    overflow: hidden;
    max-width: 500px;
    /* display: block; */
    margin: 50px auto;
    padding: 1.375rem 1.875rem;
    /* padding: 30px; */
}
.login-page h2{
    text-transform: capitalize;
    letter-spacing:1px;
    color: rgba(0, 0, 0, 0.8);
}
.login-page form input,
.login-page form button {
    width:100%;
    margin:10px 0;
    padding: .75rem;
    box-sizing: border-box;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgb(0 0 0 / 2%);
}
.login-page form .row{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.login-page form button {
    width:150px;
    color: #fff;
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgb(0 0 0 / 9%);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.login-page form a{
    color: #ee4d2d;
    letter-spacing: 1px;
    text-transform: capitalize;
}
